<div id="inspection-services">
	<div id="links">

		<div class="btn-group">
			<button type="button" class="btn btn-default">Documents and Links</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu right-aligned" role="menu">
				<li><a href="http://sfdbi.org/map-resources" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">BID District Map</span></a></li>
			</ul>
		</div>
	</div>

	<h3 class="bold no-top-margin">Building Inspection Division</h3>
	<div class="clearfix head-spacer"></div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-certificate">&nbsp; </span> Purpose</h3>
		</div>
		<div class="panel-body">
			<p>
				The Building Inspection Division (BID) is responsible for inspecting the construction of all new and existing buildings and structures for conformity with approved plans and permits and for compliance with state and local building code requirements. BID responds to emergency situations and complaints of unsafe structures, work without permit, and prepares Notices of Violation (NOV) as necessary. Unabated cases are referred to Code Enforcement for Director’s Hearings and further action. This division also conducts inspections for Police and Fire permits issued by those agencies and issues Noise Permits for construction work at night as prescribed in the San Francisco Police Code.
			</p>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-building-o">&nbsp; </span> Location &amp; Hours</h3>
		</div>
		<table class="table table-striped table-condensed">
			<tbody>
				<tr>
					<td colspan="3" class="bold">1660 Mission Street, 3rd Floor, San Francisco, CA 94103</span></td>
				</tr>
				<tr>
					<td class="bold">REGULAR OFFICE HOURS:</td>
					<td>7:30 a.m. - 5:00 p.m., Monday through Friday</td>
					<td width="20%"></td>
				</tr>
				<tr>
					<td class="bold">INSPECTORS OFFICE HOURS:</td>
					<td>7:30 a.m. - 8:30 a.m. &amp; 3:00 p.m. - 4:00 p.m.</td>
					<td></td>
				</tr>
				<tr>
					<td class="bold">INSPECTION SCHEDULING REQUEST HOURS:</td>
					<td>7:30 a.m. - 3:00 p.m. ONLY</td>
					<td></td>
				</tr>
				<tr>
					<td class="bold"><span class="fa fa-phone" title="Phone">&nbsp;</span> AUTOMATED INSPECTION SCHEDULING 24/7:</td>
					<td>415-575-6955</td>
					<td></td>
				</tr>
				<tr>
					<td><span class="fa fa-phone" title="Phone">&nbsp;</span> 415-558-6570</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td><span class="fa fa-print" title="Fax">&nbsp;</span> 415-558-6261</td>
					<td colspan="2"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-sitemap">&nbsp; </span> Staff</h3>
		</div>
		<div class="panel-body">
			<div id="staffpanel" class="staff clearfix">
				<!-- dynamically generated -->
			</div>
		</div>
	</div>
</div>