<div id="inspection-services">
	<div id="links">

		<div class="btn-group">
			<button type="button" class="btn btn-default">Documents and Links</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu right-aligned" role="menu">
				<li><a href="/pdf/ces/CES_OPP_Manual_2013.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">CES Operations Manual - 2013</span></a></li>
			</ul>
		</div>
	</div>

	<h3 class="bold no-top-margin">Code Enforcement Section</h3>
	<div class="clearfix head-spacer"></div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-certificate">&nbsp; </span> Purpose</h3>
		</div>
		<div class="panel-body">
			<p>
				The Code Enforcement Section (CES) investigates complaints of violations of the Building, Plumbing and Electrical Codes and employs abatement procedures to correct code deficiencies. This division also initiates follow-up enforcement when cases have been referred by other divisions within DBI by holding Director’s Hearings and referring cases to the City Attorney for litigation. Assessment fees are collected from building owners that have code violations in order to recover costs incurred by investigations. The division also assists in the preparation and issuance of Emergency Orders for imminent hazards arising from natural disasters and emergencies.
			</p>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-building-o">&nbsp; </span> Location &amp; Hours</h3>
		</div>
		<div class="panel-body">
			<span class="bold">1660 Mission Street, 6th Floor
			<br />7:30am - 5:00pm Monday through Friday</span>
			<br /><span class="fa fa-phone" title="Phone">&nbsp;</span> (415) 558-6454
		</div>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-sitemap">&nbsp; </span> Staff</h3>
		</div>
		<div class="panel-body">
			<div id="staffpanel" class="staff clearfix">
				<!-- dynamically generated -->
			</div>
		</div>
	</div>
</div>