<div id="inspection-services">
	<div id="links">

		<div class="btn-group">
			<button type="button" class="btn btn-default">Documents and Links</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu right-aligned" role="menu">
				<li><a href="/pdf/his/HIS_Org_Chart-January_2014.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">HIS Organization Chart - January, 2014</span></a></li>
				<li><a href="http://sfdbi.org/housing-district-map" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">HIS District Map</span></a></li>
			</ul>
		</div>
	</div>

	<h3 class="bold no-top-margin">Housing Inspection Services</h3>
	<div class="clearfix head-spacer"></div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-certificate">&nbsp; </span> Purpose</h3>
		</div>
		<div class="panel-body">
			<p>
				Housing Inspection Services (HIS) implements and enforces the San Francisco Housing Code and pertinent related City Codes.  HIS establishes and maintains minimum maintenance standards for existing residential buildings to safeguard life, limb, health, property, and public welfare by conducting periodic health and safety inspections and responding to tenant complaints.
			</p>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-building-o">&nbsp; </span> Location &amp; Hours</h3>
		</div>
		<table class="table table-striped table-condensed">
			<tbody>
				<tr>
					<td colspan="3" class="bold">1660 Mission Street, 6th Floor, San Francisco, CA 94103</span></td>
				</tr>
				<tr>
					<td class="bold">REGULAR OFFICE HOURS:</td>
					<td>7:30 a.m. - 5:00 p.m., Monday through Friday</td>
					<td width="20%"></td>
				</tr>
				<tr>
					<td class="bold">INSPECTORS OFFICE HOURS:</td>
					<td>8:00 a.m. - 9:00 a.m. &amp; 4:00 p.m. - 5:00 p.m.</td>
					<td></td>
				</tr>
				<tr>
					<td><span class="fa fa-phone" title="Phone">&nbsp;</span> 415-558-6220</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td><span class="fa fa-fax" title="Fax">&nbsp;</span> 415-558-6249</td>
					<td colspan="2"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-sitemap">&nbsp; </span> Staff</h3>
		</div>
		<div class="panel-body">
			<div id="staffpanel" class="staff clearfix">
				<!-- dynamically generated -->
			</div>
		</div>
	</div>
</div>