<div id="inspection-services">
	<div id="links">

		<div class="btn-group">
			<button type="button" class="btn btn-default">Documents and Links</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu right-aligned" role="menu">
				<li><a href="/pdf/pid/PID_District_Map-October_2014.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">PID District Map - October 2014</span></a></li>
				<li><a href="/pdf/pid/PID_Org_Chart-October_2014.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">PID Organization Chart - October 2014</span></a></li>
			</ul>
		</div>
	</div>

	<h3 class="bold no-top-margin">Plumbing Inspection Division</h3>
	<div class="clearfix head-spacer"></div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-certificate">&nbsp; </span> Purpose</h3>
		</div>
		<div class="panel-body">
			<p>
				The Plumbing Inspection Division (PID) is responsible for assuring, through inspections, the proper functioning for installations of drainage, water, gas, and other mechanical systems covered in the Plumbing and Mechanical Codes.  These inspections are carried out in buildings which are newly constructed, remodeled, or repaired.
			</p>
			<p>
				PID additionally inspects fire sprinkler installations to assure compliance with the plans approved by the Fire Department plan check staff, and conducts inspections as required by various ordinances.  Such ordinances include:  the Night Club and Massage Parlor Ordinances (which require code compliance prior to business license issuance); and the Boiler Ordinance which requires that PID maintain records, send renewal notices, and prepare Notices of Violations against non-complying property owners.
			</p>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-building-o">&nbsp; </span> Location &amp; Hours</h3>
		</div>
		<table class="table table-striped table-condensed">
			<tbody>
				<tr>
					<td colspan="3" class="bold">1660 Mission Street, 3rd Floor, San Francisco, CA 94103</span></td>
				</tr>
				<tr>
					<td class="bold">REGULAR OFFICE HOURS:</td>
					<td>7:30 a.m. - 5:00 p.m., Monday through Friday</td>
					<td width="20%"></td>
				</tr>
				<tr>
					<td class="bold">INSPECTORS OFFICE HOURS:</td>
					<td>7:30 a.m. - 8:30 a.m. &amp; 3:00 p.m. - 4:00 p.m.</td>
					<td></td>
				</tr>
				<tr>
					<td class="bold">INSPECTION SCHEDULING REQUEST HOURS:</td>
					<td>7:30 a.m. - 3:00 p.m. ONLY</td>
					<td></td>
				</tr>
				<tr>
					<td class="bold">AUTOMATED INSPECTION SCHEDULING 24/7:</td>
					<td>415-575-6955</td>
					<td></td>
				</tr>
				<tr>
					<td class="bold"><span class="fa fa-phone" title="Phone">&nbsp;</span> MAIN PHONE:</td>
					<td>415-558-6570</td>
					<td></td>
				</tr>
				<tr>
					<td class="bold"><span class="fa fa-print" title="Fax">&nbsp;</span> FAX:</td>
					<td>415-558-6178</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-sitemap">&nbsp; </span> Staff</h3>
		</div>
		<div class="panel-body">
			<div id="staffpanel" class="staff clearfix">
				<!-- dynamically generated -->
			</div>
		</div>
	</div>
</div>