<div id="inspection-services">
	<div id="links">

		<div class="btn-group">
			<button type="button" class="btn btn-default">Documents and Links</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu right-aligned" role="menu">
				<li class="bold section-header">Policies and Procedures</li>
				<li><a href="http://dbi-intranet/dbi_files/support_services/afd/docs/DBI_Guidance_for_Procurement_and_Payment.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">DBI Guidance for Procurement and Payment</span></a></li>
				<li><a href="http://dbi-intranet/dbi_files/support_services/afd/docs/Sales_and_Use_Tax_01012013.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Sale and Use Tax Increases effective January 1, 2013</span></a></li>
				<li><a href="http://dbi-intranet/dbi_files/support_services/afd/docs/Travel_Expense_Voucher_Checklist.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Travel Expense Voucher Checklist</span></a></li>
				<li class="bold section-header">Forms</li>
				<li><a href="http://dbi-intranet/dbi_files/support_services/afd/docs/ParkingCitationDismissal_Request.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Parking Citation Dismissal Request</span></a></li>
				<li><a href="http://dbi-intranet/dbi_files/support_services/afd/forms/Staples_Order_Form.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Office Supplies Request Form (Staples)</span></a></li>
				<li><a href="http://mission.sfgov.org/DOCUMENT_CENTER_DOCUMENTS/DC331.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Request for Replacement of Lost or Destroyed Warrant/Affidavit</span></a></li>
				<li><a href="http://dbi-intranet/dbi_files/support_services/afd/forms/Travel_Expense_Voucher.xls" 
					   target="_blank"><span class="fa fa-file-excel-o">&nbsp;</span>&nbsp;<span class="text">Travel Expense Voucher</span></a></li>
				<li><a href="http://dbi-intranet/Support_Services/Admin_Services/Construction.htm" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">Warrant/Affidavit</span></a></li>
				<li><a href="http://dbi-intranet/dbi_files/support_services/afd/forms/Requisition.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">General Requisition Form for Materials, Services, Membership/Subscription Fees</span></a></li>
				<li><a href="http://dbi-intranet/dbi_files/support_services/afd/forms/Business_Card_Order_Form.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Business Card Order Form</span></a></li>
				<li><a href="http://dbi-intranet/dbi_files/support_services/afd/forms/Purchase_Authorization_For_Shoes-Boots_FY14-15.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Purchase Authorization For Shoes Boots</span></a></li>
				<li><a href="http://dbi-intranet/dbi_files/support_services/afd/forms/Purchase_Authorization_For_Overall_Coveralls_WorkPants_FY14-15.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Purchase Authorization Form for Overalls/Coverall or Work Pants</span></a></li>
				<li><a href="http://dbi-intranet/dbi_files/support_services/afd/forms/Field_Expense_Report.xls" 
					   target="_blank"><span class="fa fa-file-excel-o">&nbsp;</span>&nbsp;<span class="text">Field Expense Report</span></a></li>
				<li><a href="http://dbi-intranet/dbi_files/support_services/afd/forms/DBI_TRAINING_TRAVEL.xls" 
					   target="_blank"><span class="fa fa-file-excel-o">&nbsp;</span>&nbsp;<span class="text">Training &amp; Travel Pre-Authorization Form</span></a></li>
				<li><a href="http://dbi-intranet/dbi_files/support_services/afd/forms/Reimbursement_Request.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Reimbursement Request</span></a></li>
				<li class="bold section-header">Important Links</li>
				<li><a href="http://dbi-intranet/dbi_files/support_services/afd/docs/Vehicle_Assignments_080913.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Vehicle Assignments effective August 9, 2013</span></a></li>
				<li><a href="http://www.gsa.gov/Portal/gsa/ep/contentView.do?contentId=17943&contentType=GSA_BASIC" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">Domestic Per Diem Rates</span></a></li>
				<li><a href="http://www.gsa.gov/Portal/gsa/ep/contentView.do?programId=9704&channelId=-15943&ooid=16365&contentId=16177&pageTypeId=8203&contentType=GSA_BASIC&programPage=%2Fep%2Fprogram%2FgsaBasic.jsp&P=MTT" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">GSA Meals and Incidental Expense Breakdown</span></a></li>
				<li><a href="http://www.irs.gov/uac/2013-Standard-Mileage-Rates-Up-1-Cent-per-Mile-for-Business,-Medical-and-Moving" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">IRS Announces 2013 Standard Mileage Rates</span></a></li>
			</ul>
		</div>
	</div>

	<h3 class="bold no-top-margin">Finance Services</h3>
	<div class="clearfix head-spacer"></div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-certificate">&nbsp; </span> Purpose</h3>
		</div>
		<div class="panel-body">
			<p>
				The functions of Finance Services (FS) are to provide support to the Department in the areas of fiscal management, purchasing, and business analysis.  This consists of budget preparation and reconciliation; revenue management; controlling labor and non-labor expenditures, capital expenditures and work order expenditures; accounts payable; performing internal audits, and employee claims management.  In the area of purchasing, the division is involved in procuring materials and supplies; vendor identification and interfacing; and contract administration.  The division also provides needs and operations analysis, revenue/expenditure analysis, and develops office policies and procedures.
			</p>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-building-o">&nbsp; </span> Location &amp; Hours</h3>
		</div>
		<div class="panel-body">
			<span class="bold">1660 Mission Street, 6th Floor
			<br />7:30am - 5:00pm Monday through Friday</span>
			<br /><span class="fa fa-phone" title="Phone">&nbsp;</span> (415) 558-6230
			<br /><span class="fa fa-fax" title="Fax">&nbsp;</span> (415) 558-6207
			<br /><span class="fa fa-money" title="Refunds">&nbsp;</span> Refunds (415) 558-6323
		</div>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-sitemap">&nbsp; </span> Staff</h3>
		</div>
		<div class="panel-body">
			<div id="staffpanel" class="staff clearfix">
				<!-- dynamically generated -->
			</div>
		</div>
	</div>
</div>