<div id="inspection-services">
	<div id="links">

		<div class="btn-group">
			<button type="button" class="btn btn-default">Documents and Links</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu right-aligned" role="menu">
					
				<li class="bold section-header">Policies and Procedures</li>
				<li><a href="/pdf/ppd/Employee_Handbook_2012.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Employee Handbook - 2012</span></a></li>
				<li><a href="/pdf/ppd/CodeOfConduct.April2009.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Code of Conduct - April 2009</span></a></li>
				<li><a href="/pdf/ppd/Statement_of_Incompatible_Activities.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Statement of Incompatable Activities</span></a></li>
				<li class="divider"></li>
				<li class="bold section-header">Worker&#039;s Compensation</li>
				<li><a href="/pdf/ppd/Employees_Guide_to_Workers_Compensation.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Employee Guide to Worker's Compensation</span></a></li>
				<li><a href="/pdf/ppd/Motor_Vehicle_Accident_Reporting_Procedures.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Motor Vehicle Accident Reporting Procedures</span></a></li>
				<li><a href="/pdf/ppd/Injury_Checklist_and_Forms.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Injury Checklist and Forms (for Supervisor&#039;s use only)</span></a></li>
				<li class="divider"></li>
				<li class="bold section-header">Family and Medical Leave Act (FMLA)</li>
				<li><a href="/pdf/ppd/FMLA.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">FMLA Forms</span></a></li>
				<li class="divider"></li>
				<li class="bold section-header">Catastrophic Illness Program (CIP)</li>
				<li><a href="/pdf/ppd/CIP_Policy.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">CIP Policy</span></a></li>
				<li><a href="/pdf/ppd/Instructions_for_CIP_Employee_Applicant.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Instructions for CIP Employee Applicant</span></a></li>
				<li><a href="/pdf/ppd/CIP_Donor_Form_Employee.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Donor&#039;s VA/SP Employees Transfer Form</span></a></li>
				<li><a href="/pdf/ppd/Instructions_for_CIP_Family_Applicant.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Instructions for CIP Family Member Applicant</span></a></li>
				<li><a href="/pdf/ppd/CIP_Donor_Form_Family.doc" 
					   target="_blank"><span class="fa fa-file-word-o">&nbsp;</span>&nbsp;<span class="text">Donor&#039;s VA/SP Family Member Transfer Form</span></a></li>
				<li class="divider"></li>					
				<li class="bold section-header">Payroll Forms:</li>
				<li class="bold section-header">Tax Withholding</li>
				<li><a href="/pdf/ppd/Federal_W-4(2013).pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Federal W-4 (2013)</span></a></li>
				<li><a href="/pdf/ppd/EDD_State_of_California_(2013).pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">State EDD (2013)</span></a></li>
				<li class="bold section-header">Pay</li>
				<li><a href="/pdf/ppd/Direct_Deposit_Authorization_Form.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Direct Deposit Authorization Form</span></a></li>
				<li><a href="/pdf/ppd/Online_Paystub_User_Guide.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Online Paystub User Guide</span></a></li>
				<li class="bold section-header">Timekeeping</li>
				<li><a href="/pdf/ppd/Timesheet_Template.doc" 
					   target="_blank"><span class="fa fa-file-word-o">&nbsp;</span>&nbsp;<span class="text">Timesheet Template</span></a></li>
				<li><a href="/pdf/ppd/Request_For_Time_Off.doc" 
					   target="_blank"><span class="fa fa-file-word-o">&nbsp;</span>&nbsp;<span class="text">Request for Time Off Form</span></a></li>
				<li><a href="/pdf/ppd/Overtime_Request.doc" 
					   target="_blank"><span class="fa fa-file-word-o">&nbsp;</span>&nbsp;<span class="text">Request for Overtime Form</span></a></li>
				<li><a href="/pdf/ppd/Request_For_Leave.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Request for Leave Form</span></a></li>
				<li class="divider"></li>
				<li class="bold section-header">Personnel Forms:</li>
				<li><a href="/pdf/ppd/PPAR_form_FY2014-2015.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">2014 Performance Evaluation Report</span></a></li>
				<li><a href="/pdf/ppd/Designated_Person_Form.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Designated Person Form</span></a></li>
				<li><a href="/pdf/ppd/Form_700.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Form 700</span></a></li>
				<li><a href="/pdf/ppd/Personnel_Transfer.xls" 
					   target="_blank"><span class="fa fa-file-excel-o">&nbsp;</span>&nbsp;<span class="text">Personnel Transfer Form</span></a></li>
			</ul>
		</div>
	</div>

	<h3 class="bold no-top-margin">Personnel &amp; Payroll Division</h3>
	<div class="clearfix head-spacer"></div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-certificate">&nbsp; </span> Purpose</h3>
		</div>
		<div class="panel-body">
			<p>
				The Personnel and Payroll Division (PPD) provides support to the Department in the areas of personnel, payroll, and other related Human Resources activities.
			</p>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-building-o">&nbsp; </span> Location</h3>
		</div>
		<table class="table table-striped table-condensed">
			<tbody>
				<tr>
					<td colspan="3" class="bold">1660 Mission Street, 4th Floor, San Francisco, CA 94103</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-sitemap">&nbsp; </span> Staff</h3>
		</div>
		<div class="panel-body">
			<div id="staffpanel" class="staff clearfix">
				<!-- dynamically generated -->
			</div>
		</div>
	</div>
</div>