<div id="permit-services">
	<div id="links">

		<div class="btn-group">
			<button type="button" class="btn btn-default">Documents and Links</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu right-aligned" role="menu">
				<li><a href="/pdf/cpb/New_Permit_And_Plan_Review_Fees.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">New Permit and Plan Review Fees</span></a></li>
				<li><a href="/pdf/cpb/Alteration_Permit_And_Plan_Review_Fees.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Alteration Permit and Plan Review Fees</span></a></li>
				<li><a href="/pdf/cpb/Electrical_Permit_And_Inspection_Fees.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Electrical Permit and Inspection Fees</span></a></li>
				<li><a href="/pdf/cpb/Plumbing_Permit_Fees.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Plumbing Permit Fees</span></a></li>
			</ul>
		</div>
	</div>

	<h3 class="bold no-top-margin">Help Desk / Public Information Counter</h3>
	<div class="clearfix head-spacer"></div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-certificate">&nbsp; </span> Purpose</h3>
		</div>
		<div class="panel-body">
			<p>
				The Help Desk / Public Information Counter serves as the first point of contact for the public, answers general questions, provides direction to appropriate services, and gives permit status.
			</p>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-building-o">&nbsp; </span> Location</h3>
		</div>
		<div class="panel-body bold">
			1660 Mission Street, 1st Floor
		</div>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-sitemap">&nbsp; </span> Staff</h3>
		</div>
		<div class="panel-body">
			<div id="staffpanel" class="staff clearfix">
				<!-- dynamically generated -->
			</div>
		</div>
	</div>
</div>