<div id="permit-services">
	<div id="links">

		<div class="btn-group">
			<button type="button" class="btn btn-default">Documents and Links</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu right-aligned" role="menu">
				<li><a href="/pdf/cpb/Initial_Permit_Review_Manual_022308.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Intial Permit Review Manual </span></a></li>
				<li><a href="/pdf/cpb/New_Permit_And_Plan_Review_Fees.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">New Permit and Plan Review Fees</span></a></li>
				<li><a href="/pdf/cpb/Alteration_Permit_And_Plan_Review_Fees.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Alteration Permit and Plan Review Fees</span></a></li>
				<li><a href="/pdf/cpb/Electrical_Permit_And_Inspection_Fees.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Electrical Permit and Inspection Fees</span></a></li>
				<li><a href="/pdf/cpb/Plumbing_Permit_Fees.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Plumbing Permit Fees</span></a></li>
			</ul>
		</div>
	</div>

	<h3 class="bold no-top-margin">Initial Plan Review</h3>
	<div class="clearfix head-spacer"></div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-certificate">&nbsp; </span> Purpose</h3>
		</div>
		<div class="panel-body">
			<p>
				Responsible for permit approval coordination, final approval and permit issuance to assure that the proposed construction work meets requirements of the codes; ensures that the process is performed in a timely manner that is always professional and courteous to all DBI customers.
			</p>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-building-o">&nbsp; </span> Location &amp; Hours</h3>
		</div>
		<div class="panel-body bold">
			1660 Mission Street, 5th Floor
			<br />7:30am - 5:00pm Monday through Friday
			<br />Last customer taken at 4:00pm
		</div>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-sitemap">&nbsp; </span> Staff</h3>
		</div>
		<div class="panel-body">
			<div id="staffpanel" class="staff clearfix">
				<!-- dynamically generated -->
			</div>
		</div>
	</div>
</div>