<div id="permit-services">
	<div id="links">

		<div class="btn-group">
			<button type="button" class="btn btn-default">Documents and Links</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu right-aligned" role="menu">
				<li><a href="http://sfdbi.org/code-advisory-committee/meetings" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Code Advisory Committee</span></a></li>
				<li><a href="http://sfdbi.org/administrative-general-design-subcommittee/meetings" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Administrative &amp; General Design Subcommittee</span></a></li>
				<li><a href="http://sfdbi.org/disability-access-subcommittee/meetings" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Disability Access Subcommittee</span></a></li>
				<li><a href="http://sfdbi.org/fire-and-life-safety-subcommittee/meetings" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Fire &amp; Life Safety Subcommittee</span></a></li>
				<li><a href="http://sfdbi.org/green-building-subcommittee/meetings" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Green Building Subcommittee</span></a></li>
				<li><a href="http://sfdbi.org/housing-code-subcommittee/meetings" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Housing Code Subcommittee</span></a></li>
				<li><a href="http://sfdbi.org/mechanical-electrical-plumbing-subcommittee/meetings" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Mechanical, Electrical &amp; Plumbing Subcommittee</span></a></li>
				<li><a href="http://sfdbi.org/structural-subcommittee/meetings" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Structural Subcommittee</span></a></li>
			</ul>
		</div>
	</div>

	<h3 class="bold no-top-margin">Management Information Services</h3>
	<div class="clearfix head-spacer"></div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-certificate">&nbsp; </span> Purpose</h3>
		</div>
		<div class="panel-body">
			<p>
				The functions of the Management Information Services (MIS) Division are to archive and safeguard DBI’s data; to manage network access to files and data; to scan, digitize and store plans, documents and drawings on the network; to develop and maintain an extensive client-server database to support the permitting functions and related complaint and inspection tracking functions; to supply software for common office applications, including: word processing, spreadsheet, database, presentation, telecommunications, and desktop layout; to install, repair, upgrade and maintain desktop computer equipment and peripherals, including printers, plotters, scanners; to provide daily HelpDesk support for computer-related problems, to assist end-users in graphic projects; provide in-house training; research technical issues; and to provide custom reports both for the public and DBI management.
			</p>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-phone-square">&nbsp; </span> MIS Helpdesk</h3>
		</div>
		<div class="panel-body">
			<span class="bold">1650 Mission Street, 3rd Floor</span>
			<br /><span class="fa fa-phone" title="Phone">&nbsp;</span> (415) 554-6400
			<br /><span class="fa fa-fax" title="Fax">&nbsp;</span> (415) 558-6467
			<br /><span class="fa fa-envelope" title="Email">&nbsp;</span>&nbsp;<a href="mailto:DBI.MISHelp@sfgov.org" target="_blank">DBI.MISHelp@sfgov.org</a>
			<br /><span class="fa fa-external-link" title="Report a Problem">&nbsp;</span>&nbsp;<a href="#" target="_blank">Report a Problem</a>
		</div>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-sitemap">&nbsp; </span> Staff</h3>
		</div>
		<div class="panel-body">
			<div id="staffpanel" class="staff clearfix">
				<!-- dynamically generated -->
			</div>
		</div>
	</div>
</div>