<div id="permit-services">
	<div id="links">

		<div class="btn-group">
			<button type="button" class="btn btn-default">Documents and Links</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu right-aligned" role="menu">
				<li class="bold section-header">SF Building Code - Administrative Bulletins</li>
				<li><a href="/pdf/permitservices/AB-023.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[AB-023] Crane Site Safety Plan and Building Permits</span></a></li>
				<li><a href="/pdf/permitservices/AB-047.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[AB-047] Specific Submittal Criteria for Reports, Special Inspections and Final Acceptance Testing of Smoke Control Systems</span></a></li>
				<li><a href="/pdf/permitservices/AB-078.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[AB-078] Criteria for Waiving Special Inspection Requirements for Signs, Awnings and Canopies</span></a></li>
				<li><a href="/pdf/permitservices/AB-082.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[AB-082] Requirements and Guidelines for Structural Design Review Procedures</span></a></li>
				<li><a href="/pdf/permitservices/AB-083.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[AB-083] Requirements and Guidelines for the Seismic Design of New Tall Buildings using Non-Prescriptive Seismic-Design Procedures</span></a></li>
				<li><a href="/pdf/permitservices/AB-084.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[AB-084] Guidelines for the Structural Review of Continuous Tiedown Systems Used to Resist Overturning of Light-Framed Wood Shear Walls</span></a></li>
				<li><a href="/pdf/permitservices/AB-088.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[AB-088] Collection and Storage of Trash, Recycling, and Compostable Materials</span></a></li>
				<li><a href="/pdf/permitservices/AB-090.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[AB-090] Destination-Based Elevator Control System Requirements</span></a></li>
				<li><a href="/pdf/permitservices/AB-093.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[AB-093] Implementation of Green Building Regulations</span></a></li>
				<li><a href="/pdf/permitservices/AB-094.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[AB-094] Definition and Design Criteria for Voluntary Seismic Upgrade of Soft-Story, Type V (wood-frame) Buildings [Rev:4/13/2010]</span></a></li>
				<li><a href="/pdf/permitservices/AB-098.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[AB-098] Post-Earthquake Repair and Retrofit Requirements for Wood-Frame Residential Buildings with Three or More Dwelling Units</span></a></li>
				<li><a href="/pdf/permitservices/AB-099.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[AB-099] Post-Earthquake Repair and Retrofit Requirements for Concrete Buildings</span></a></li>
				<li><a href="/pdf/permitservices/AB-100.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[AB-100] Post-Earthquake Repair and Retrofit Requirements for One- and Two-Family Dwellings</span></a></li>
				<li><a href="/pdf/permitservices/AB-102.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[AB-102] Substantial Change, Type V, R-3</span></a></li>
			</ul>
		</div>
	</div>

	<h3 class="bold no-top-margin">Permit Services</h3>
	<div class="clearfix head-spacer"></div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-certificate">&nbsp; </span> Purpose</h3>
		</div>
		<div class="panel-body">
			<p>
				Permit Services is responsible for all permit processes from when a permit application is submitted until a building permit is issued. The functions include screening, routing permits and plans for review, coordination of building permit review, approval and issuance of construction permits including electrical, plumbing and street space permits for public and private buildings within the City and County of San Francisco. Permit Services also assesses and collects fees for all structures, building enlargements and change of use. Additionally, it provides technical support for the Department in the areas of code development and information, provides coordination for the Building Occupancy Resumption Program (BORP), and provides DBI liaison to other City departments.
			</p>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-list-ul">&nbsp; </span> Permit Divisions</h3>
		</div>
		<table class="table table-striped table-condensed">
			<tbody>
				<tr>
					<td><a href="#cpb">Central Permit Bureau</a></td>
					<td><a href="#planreview">Plan Review Services</a></td>
					<td><a href="#mis">Management Information Services</a></td>
				</tr>
				<tr>
					<td><a href="#helpdesk">Help Desk</a></td>
					<td><a href="#mechplanreview">Energy/Mechanical Plan Review Services</a></td>
					<td></td>
				</tr>
				<tr>
					<td><a href="#initialplanreview">Initial Plan Review</a></td>
					<td><a href="#technicalservices">Technical Services</a></td>
					<td></td>
				</tr>
			</tbody>
		</table> 
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-sitemap">&nbsp; </span> Staff</h3>
		</div>
		<div class="panel-body">
			<div id="staffpanel" class="staff clearfix">
				<!-- dynamically generated -->
			</div>
		</div>
	</div>
</div>