<div id="permit-services">
	<div id="links">

		<div class="btn-group">
			<button type="button" class="btn btn-default">Documents and Links</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu right-aligned" role="menu">
				<li><a href="http://sfdbi.org/codes" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">San Francisco Codes</span></a></li>
				<li><a href="http://sfdbi.org/administrative-bulletins" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">Administrative Bulletins</span></a></li>
				<li><a href="http://sfdbi.org/information-sheets" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">Information Sheets</span></a></li>
			</ul>
		</div>
	</div>

	<h3 class="bold no-top-margin">Permit Services</h3>
	<div class="clearfix head-spacer"></div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-certificate">&nbsp; </span> Purpose</h3>
		</div>
		<div class="panel-body">
			<p>
				Permit Services is responsible for all permit processes from when a permit application is submitted until a building permit is issued. The functions include screening, routing permits and plans for review, coordination of building permit review, approval and issuance of construction permits including electrical, plumbing and street space permits for public and private buildings within the City and County of San Francisco. Permit Services also assesses and collects fees for all structures, building enlargements and change of use. Additionally, it provides technical support for the Department in the areas of code development and information, provides coordination for the Building Occupancy Resumption Program (BORP), and provides DBI liaison to other City departments.
			</p>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-building-o">&nbsp; </span> Location</h3>
		</div>
		<table class="table table-striped table-condensed">
			<tbody>
				<tr>
					<td colspan="3" class="bold">1660 Mission Street, San Francisco, CA 94103</span></td>
				</tr>
				<tr>
					<td class="bold"><a href="#cpb">Central Permit Bureau:</a></td>
					<td>1st Floor</td>
					<td width="40%"></td>
				</tr>
				<tr>
					<td class="bold"><a href="#helpdesk">Help Desk:</a></td>
					<td>1st Floor</td>
					<td></td>
				</tr>
				<tr>
					<td class="bold"><a href="#initialplanreview">Initial Plan Review:</a></td>
					<td>5th Floor</td>
					<td></td>
				</tr>
				<tr>
					<td class="bold"><a href="#planreview">Plan Review Services:</a></td>
					<td>2nd Floor</td>
					<td></td>
				</tr>
				<tr>
					<td class="bold"><a href="#mechplanreview">Energy/Mechanical Plan Review Services:</a></td>
					<td>1st Floor</td>
					<td></td>
				</tr>
				<tr>
					<td class="bold"><a href="#technicalservices">Technical Services:</a></td>
					<td>1st Floor</td>
					<td></td>
				</tr>
				<tr>
					<td class="bold"><a href="#mis">Management Information Services:</a></td>
					<td><span class="bold">1650 Mission Street,</span> 3rd Floor</td>
					<td></td>
				</tr>
			</tbody>
		</table> 
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-sitemap">&nbsp; </span> Staff</h3>
		</div>
		<div class="panel-body">
			<div id="staffpanel" class="staff clearfix">
				<!-- dynamically generated -->
			</div>
		</div>
	</div>
</div>