<div id="plan-review">
	<div id="links">

		<div class="btn-group">
			<button type="button" class="btn btn-default">Documents and Links</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu right-aligned" role="menu">
				<li class="bold section-header">Structural Bulletins</li>
				<li><a href="/pdf/planreview/SB-01-08.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[SB-01-08] Soils Investigation Report Requirements (Revised)</span></a></li>
				<li><a href="/pdf/planreview/SB-02-08.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[SB-02-08] One-sided (Single Shear) Tiedown Anchor (Revised)</span></a></li>
				<li><a href="/pdf/planreview/SB-03-08.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[SB-03-08] Manufactured Narrow Shear Panels (Revised)</span></a></li>
				<li><a href="/pdf/planreview/SB-04-08.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[SB-04-08] Continuous Tiedown Systems for Light-Framed Wood Shear Walls (Revised)</span></a></li>
				<li><a href="/pdf/planreview/SB-05-08.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[SB-05-08] Prequalified Connections for Special and Intermediate Steel Moment Frames</span></a></li>
				<li><a href="/pdf/planreview/SB-06-08.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[SB-05-08] Use of Steel Moment Frames in Light-Frame Construction</span></a></li>
				<li><a href="/pdf/planreview/SB-07-09.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[SB-07-09] Anchor Bolts Cast into Concrete</span></a></li>
				<li><a href="/pdf/planreview/SB-08-09.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[SB-08-09] Anchor Bolts Insalled in Hardened Concrete Using Adhesive or Epoxy</span></a></li>
				<li><a href="/pdf/planreview/SB-09-09.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[SB-09-09] R-Values for Concrete Shear Walls</span></a></li>
				<li><a href="/pdf/planreview/ES-07-05.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[ES-07-05] Minimum Design Loads for Buildings and Other Structures, Supplement No. 1</span></a></li>
				<li><a href="/pdf/planreview/ES2-07-05.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[ES2-07-05] Minimum Design Loads for Buildings and Other Structures, Supplement No. 2</span></a></li>
				<li class="divider"></li>
				<li class="bold section-header">Non-Structural Bulletins</li>
				<li><a href="/pdf/planreview/HHB-09-94.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[HHB-09-94] Historic High-Rise Buildings (Not Subject to Retro High-Rise Sprinkler Ordinance)</span></a></li>
				<li><a href="/pdf/planreview/Highrise_Master_List-07-08.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">High-Rise Buildings Master List 2007-2008</span></a></li>
				<li><a href="/pdf/planreview/Retrofit_List-02-94.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">"Retro" Sprinkler Notification List, February 1994</span></a></li>
				<li><a href="/pdf/planreview/Retrofit_Status-10-07.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Retrofit Status, October 2007</span></a></li>
				<li><a href="/pdf/planreview/Retrofit_Status_Updated-05-08.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Retrofit Status Update, May 2008</span></a></li>
				<li class="divider"></li>
				<li class="bold section-header">Code Interpretations</li>
				<li><a href="/pdf/planreview/code_interpret/Disabled_Access_002_Wheelchair_Seating_at_Counters.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[Disabled Access 002] Wheelchair Seating at Counters</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/Disabled_Access_004_Knee_Clearance.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[Disabled Access 004] Knee Clearance</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/Disabled_Access_005_Housing_Shower_Size.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[Disabled Access 005] Housing Shower Size</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/General_002_Class_of_Assembly_Occupancy.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[General 002] Classification of Assembly Occupancy</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/General_003_Designation_of_Use_of_Space.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[General 003] Designation of Use of Space</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/General_004_Vehicle_Ramp_Slope.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[General 004] Vehicle Ramp Slope</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/General_005_Earth_to_Wood_Contact.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[General 005] Earth to Wood Contact</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/General_006_Green_Roof_Guards.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[General 006] Green Roof Guards</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/General_007_R-3_Existing_Window_Replacement.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[General 007] R-3 Existing Window Replacement</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/Egress_001_Common_Path_of_Travel.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[Egress 001] Common Path Of Travel With One Exit</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/Egress_002_Removing_2nd_Exit_from_1_Family_Dwelling.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[Egress 002] Removing Second Exit from Single Family Dwelling</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/Egress_003_Removing_2nd_Exit_from_a_2-Unit_Building.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[Egress 003] Removing Second Exit from a 2-Unit Building</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/Egress_004_Application_of_Table_1019_2.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[Egress 004] Application of Table 1019.2</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/Egress_005_Exit_Barrier_Requirements.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[Egress 005] Exit Barrier Requirements</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/Egress_007_R-3_Access_Travel_Distance.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[Egress 007] R-3 Access Travel Distance</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/Egress_008_Occupant_Load_Fractions.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[Egress 008] Occupant Load Fractions</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/Egress_009_Common_Path_of_Egress.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[Egress 009] Common Path of Egress Travel Distance Measurement</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/Egress_013_Egress_for_Multi-Level_Residential_Units_Within_R-2_Occupancy.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[Egress 013] Egress for Multi-level Residential Units within an R-2 Occupancy</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/Egress_016_Accessable_Means_of_Egress.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[Egress 016] Accessable Means of Egress For New Buildings</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/Fire_Safety_001_R-3_Exterior_Opening_Protection.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[Fire Safety 001] R-3 Exterior Opening Protection</span></a></li>
				<li><a href="/pdf/planreview/code_interpret/Fire_Safety_002_R-3_Sprinkler_Exemption.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">[Fire Safety 002] R-3 Sprinkler Exemption</span></a></li>
			</ul>
		</div>
	</div>

	<h3 class="bold no-top-margin">Plan Review Services</h3>
	<div class="clearfix head-spacer"></div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-certificate">&nbsp; </span> Purpose</h3>
		</div>
		<div class="panel-body">
			<p>
				The Plan Review Services Division is responsible for the review and approval of building and other permits that require architectural and structural consideration, and to implement on-going seismic engineering and structural safety initiatives. This Division provides coordination of projects requiring Structural Design Review.
			</p>
		</div>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-sitemap">&nbsp; </span> Staff</h3>
		</div>
		<div class="panel-body">
			<div id="staffpanel" class="staff clearfix">
				<!-- dynamically generated -->
			</div>
		</div>
	</div>
</div>